.product-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
}

.product-form__layout {
  margin: 1rem 0;
}

.product-form__label,
.product-form__input {
  display: block;
  width: 100%;
}

.product-form__input {
  border: 1px solid rgb(82, 178, 190);
  font: inherit;
  border-radius: 2px;
}

.product-form__button {
  font: inherit;
  border: 1px solid rgb(82, 178, 190);
  color: rgb(82, 178, 190);
  background: white;
  border-radius: 3px;
  cursor: pointer;
}

.product-form__button:hover,
.product-form__button:active {
  background: rgb(82, 178, 190);
  color: white;
}
